In [1]:
#import Libraries
from bs4 import BeautifulSoup
import requests

In [2]:
# Connect to Website and pull in data
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [3]:
page = requests.get(url)

In [4]:
soup = BeautifulSoup(page.text, 'html')

In [5]:
table = soup.find_all('table')[3]

In [6]:
table_headings = table.find_all('th')
print(table_headings)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Profits<br/>(USD millions)
</th>]

In [7]:
headings = [title.text.strip() for title in table_headings]
print(headings)

['Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [8]:
import pandas as pd

In [9]:
# Create CSV and write headers and data into the file
f = pd.DataFrame(columns = headings)
f

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [10]:
column_data = table.find_all('tr')

In [11]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data] 
    #print(individual_row_data)
    length = len(f)
    f.loc[length] = individual_row_data

In [12]:
f

  Rank                 Name                 Industry Profits(USD millions)
0    1                Apple              Electronics                99,803
1    2            Microsoft               Technology                72,738
2    3             Alphabet               Technology                59,972
3    5           ExxonMobil       Petroleum industry                55,740
4    6       JPMorgan Chase               Financials                37,676
5    7  Chevron Corporation       Petroleum industry                35,465
6    8               Pfizer  Pharmaceutical industry                31,372
7    9      Bank of America               Financials                27,528
8   10       Meta Platforms               Technology                23,200

In [13]:
#Now we are appending data to the csv and Download it
f.to_csv(r'C:\Users\karti\OneDrive\Desktop\Companies_Profit.csv', index = False)